.App {
  text-align: center;
}

.social-icon {
  height: 10vmin;
}

.social-icon:hover {
  animation: social-icon-wiggle .35s linear 0s infinite normal; 
  animation-fill-mode: forwards;
  cursor: pointer;
}

.headshot{
  height: 30vmin;
  border-radius: 50%;
}

.App-header {
  background-color: #4F5D75;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #4F5D75;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  background-color: #2D3142;
  /* min-height: 5vh; */
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-link {
  color: #EF8354;
  cursor: pointer;
  margin-inline-end: 3vh;
  transition: all .2s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.1);
}

.App-link {
  color: #61dafb;
}

.project-left {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  max-height: 35vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: flex-start;
}

.project-right {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  max-height: 35vh;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: flex-end;
}

.project-image {
  max-width: 33%;
  height: auto;
  object-fit: cover;
}

@keyframes social-icon-wiggle {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(7deg);
  }
  70% {
    transform: rotate(-7deg);
  }
  
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #EF8354, 0 0 40px #EF8354, 0 0 50px #EF8354, 0 0 60px #EF8354, 0 0 70px #EF8354;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #EF8354, 0 0 40px #EF8354, 0 0 50px #EF8354, 0 0 60px #EF8354, 0 0 70px #EF8354, 0 0 80px #EF8354;
  }
}


/* Below is the animations for the sparkle effect */
