.App {
  text-align: center;
}

.social-icon {
  height: 10vmin;
}

.social-icon:hover {
  animation: social-icon-wiggle .35s linear 0s infinite normal; 
  animation-fill-mode: forwards;
  cursor: pointer;
}

.headshot{
  height: 30vmin;
  border-radius: 50%;
}

.App-header {
  background-color: #4F5D75;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #4F5D75;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  background-color: #2D3142;
  /* min-height: 5vh; */
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-link {
  color: #EF8354;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes social-icon-wiggle {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(7deg);
  }
  70% {
    transform: rotate(-7deg);
  }
  
}
